.AviaList {
    display: flex;
    width: 100%;

    &__sorting {
        display: flex;
        width: 30vw;
        margin: 40px;
        justify-content: center;
        align-items: center;
        background: grey;
        height: 700px;
    }

    &__sortingForm {
        display: flex;
        flex-direction: column;
        background: white;
        width: 100%;
    }

    &__sortingFormSubmit {
        margin: 20px auto;
        width: 200px;
    }

    &__flightListError {
        color: red;
        font-size: 20px;
    }
    
    &__flightList {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    &__flightListAddBtn{
        margin: 0px auto;
        width: 200px;
    }
}

